    body {
      background-color: red;
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Boodle_fight_%28kamayan%29_02.jpg/2400px-Boodle_fight_%28kamayan%29_02.jpg');
    }
    .header {
      width: 800px;
      padding: 25px;
    }

    .content {
      width: 850px;
      background-color: white;
      padding: 5px;
      margin: auto;
    }
    
    img {
      width: 380px;
      float: right;
      padding: 20px;
    }