<%- include('../partials/header') %>

<link rel="stylesheet" type="text/css" href="index.css">


  <div class="content">
    <h1><%=title%></h1>
      
    <img src="https://www.kitchenfrau.com/wp-content/uploads/2018/11/IMG_3714est.jpg"></img>
    <p>Chicken Adobo, a culinary cornerstone of Filipino cuisine, is not only a dish but also a cultural icon with deep historical and flavorful roots. The term "adobo" traces back to Spanish colonization, derived from the Spanish word "adobar," which means to marinate. Filipino cooks ingeniously adapted this technique, blending indigenous ingredients with Spanish influence.</p> 
    <p>Its preparation involves marinating chicken pieces in a harmonious mixture of soy sauce, vinegar, garlic, bay leaves, and spices. The dish is then slow-cooked, allowing the flavors to infuse the meat and create a tantalizing blend of sweet, salty, and tangy notes. Its simplicity and versatility have made it a beloved family favorite and a symbol of Filipino comfort.</p>
    <p>Beyond its delectable taste, Chicken Adobo carries cultural significance. Its history mirrors the Philippines' complex narrative, symbolizing resilience and adaptation through centuries of colonial rule and cultural exchange. This dish has been embraced as a national treasure, representing the Filipino spirit of resourcefulness and creativity in the face of adversity.</p><br>
  
    <p><h4>Ingredients</h4></p>
  
    2 lbs (approx. 1 kg) chicken pieces (legs, thighs, or a mix)<br>
    1/2 cup soy sauce<br>
    1/2 cup vinegar (white vinegar or cane vinegar)<br>
    1 head of garlic, minced<br>
    1 teaspoon black peppercorns<br>
    3-4 dried bay leaves<br>
    1 tablespoon cooking oil<br>
    1 cup water<br>
    Optional: chopped scallions and toasted garlic for garnish<br><br>
  
    <p><h4>Instructions:</h4></p>

    <ol>
      <li>In a large bowl or a resealable plastic bag, combine the chicken pieces with soy sauce, minced garlic, and black peppercorns. Mix well to ensure the chicken is coated with the marinade.</li>
      <li>Seal the bag or cover the bowl with plastic wrap. Let the chicken marinate in the refrigerator for at least 1 to 2 hours, or preferably overnight. This step infuses the chicken with the flavors of the marinade.</li>
      
      <li>In a large skillet or a Dutch oven, heat the cooking oil over medium-high heat.</li>
      <li>Remove the chicken from the marinade (reserve the marinade) and gently shake off any excess liquid.</li>
      <li>Sear the chicken pieces in the hot oil until they are golden brown on both sides.</li>
      <li>Once the chicken is seared, add the minced garlic to the skillet and sauté for about a minute until fragrant.</li>
      <li>Pour in the reserved marinade, vinegar, and water. Add the dried bay leaves. Stir to combine all the ingredients.</li>
      <li>Bring the mixture to a boil, then reduce the heat to low. Cover the skillet or pot and let the chicken simmer for about 30-40 minutes. Stir occasionally</li>
      <li>After simmering, uncover the skillet and allow the sauce to thicken slightly for about 10-15 minutes. This will concentrate the flavors and create a luscious sauce.</li>
      <li>Remove the bay leaves from the Chicken Adobo.</li>
      <li>Serve the Chicken Adobo hot over steamed rice. Garnish with chopped scallions and toasted garlic, if desired.</li>
      </ol>
    
  </div>
      
<%- include('../partials/footer') %>
