<%- include('../partials/header') %>

  <link rel="stylesheet" type="text/css" href="index.css">

  <div class="content">
    <img src="https://i0.wp.com/whattoeatph.com/wp-content/uploads/2022/03/DSC_9120.jpg"></img>  
    <h1><%=title%></h1>
    
        <p>Bicol Express, a cornerstone of Filipino cuisine, traces its roots to the Bicol region in the Philippines. This iconic dish reflects the region's vibrant culture and love for bold flavors. Named after the Bicol Express train that once traversed the area, it captures the spirit of movement and excitement with its fiery taste.</p>    
        <p>With a history dating back to the Spanish colonial era, Bicol Express has evolved from its humble beginnings into a beloved culinary masterpiece. Traditionally, it consisted of simple ingredients like shrimp paste, coconut milk, and local chili peppers. Over time, pork was incorporated to enhance the dish's heartiness and appeal.</p>    
        <p>Bicol Express's blend of spicy chili peppers and creamy coconut milk embodies the Filipinos' fondness for contrasting flavors. This combination reflects the country's diverse influences, from indigenous ingredients to international trade. Bicol Express stands as a testament to the ingenuity and adaptability of Filipino cuisine, preserving tradition while embracing change.</p><br>

    
        <h4>Ingredients</h4>
    
          <br>1 lb pork belly, sliced into bite-sized pieces
          <br>2 tbsp cooking oil
          <br>1 onion, chopped
          <br>4 cloves garlic, minced
          <br>2 cups coconut milk
          <br>1 cup long green chili peppers (siling pansigang), sliced
          <br>2-3 red chili peppers, chopped (adjust to heat preference)
          <br>2 tbsp shrimp paste (bagoong)
          <br>Salt and pepper to taste
          <br>Chopped scallions for garnish
          <br><br>

        <h4>Instructions</h4>

        <ol>
        
          <li>Heat oil in a pan over medium heat. Sauté pork until lightly browned. Remove excess oil.</p>    
          <li>Add onions and garlic, sauté until aromatic.</li>
          <li>Add green and red chili peppers, sauté for a minute.</li>    
          <li>Pour in coconut milk. Let it simmer until slightly reduced and oil surfaces.</li>    
          <li>Stir in shrimp paste. Season with salt and pepper.</li>    
          <li>Let it simmer for a few minutes to meld flavors and garnish with chopped scallions.</li>
        </ol>
    </div>
        
<%- include('../partials/footer') %>