<%- include('../partials/header') %>

  <link rel="stylesheet" type="text/css" href="index.css">


    <div class="content">
      <img src="https://www.lutongbahayrecipe.com/wp-content/uploads/2019/03/lutong-bahay-bopis-recipe-1200x1200.jpg"></img>
        
      <h1><%=title%></h1>
      <p>Bopis, a distinctive Filipino delicacy, reflects the ingenuity of Filipino cuisine in its creative use of offal and vibrant flavors. This dish has humble origins, emerging from the resourcefulness of Filipino cooks who sought to minimize food waste. The name "bopis" is believed to have come from the Spanish word "bopiz," signifying entrails.</p>
      
      <p>Bopis traditionally comprises minced pork lungs and heart, sautéed with aromatic ingredients like onions, garlic, and tomatoes. The medley is elevated with the addition of chili peppers, which infuse the dish with a pleasant heat. The history of bopis aligns with Filipino culinary evolution, a fusion of indigenous practices with Spanish influences during the colonial era.</p>
      
      <p>Originally conceived as a way to utilize lesser-known parts of the animal, bopis has evolved into a beloved dish enjoyed across the Philippines. Its bold flavors and distinct texture showcase the Filipinos' knack for transforming everyday ingredients into something extraordinary. Bopis exemplifies Filipino resourcefulness, culinary diversity, and a deep connection to history and heritage.</p><br>
      
        
      <p><h4>Recipe</h4></p>
      
      1 cup pork heart, cleaned and finely diced
      <br>1 cup pork lungs, cleaned and finely diced
      <br>2 tablespoons cooking oil
      <br>1 onion, finely chopped
      <br>4 cloves garlic, minced
      <br>2 tomatoes, chopped
      <br>2-3 red or green chili peppers, chopped (adjust to your preferred level of spiciness)
      <br>1/4 cup vinegar
      <br>1/4 cup soy sauce
      <br>Salt and pepper to taste
      <br>1/2 cup bell peppers, diced
      <br>1/2 cup carrots, diced
      <br>Fresh cilantro, chopped (for garnish)
      
      <br><br>
      <p><h4>Instructions</h4></p>
      
        
      <ol>
        <li>Clean the pork heart and lungs thoroughly. Dice them into small, uniform pieces.</li>
        <li>In a bowl, combine the diced pork heart and lungs with vinegar, soy sauce, salt, and pepper. Let it marinate for at least 15-20 minutes.</li>
      
        <li>In a large skillet or pan, heat the cooking oil over medium heat.</li>
         <li>Sauté the onions and garlic until they become translucent and aromatic.</li>
         <li>Add the chopped tomatoes and cook until they soften.</li>
      
        <li>Add the marinated pork heart and lungs to the pan. Sauté for a few minutes until the meat is cooked and slightly browned.</li>
      
        <li>Stir in the chopped chili peppers, adjusting the quantity to your desired level of spiciness.</li>
        <li>Add the diced bell peppers and carrots. Cook for a few more minutes until the vegetables are tender yet still crisp.</li>
      
        <li>Taste and adjust the seasoning with salt and pepper as needed.</li>
        <li>Once the flavors are well integrated and the meat is tender, your Bopis is ready to be served.</li>
      
        <li>Transfer the Bopis to a serving dish and garnish with freshly chopped cilantro.</li>
        <li>Serve hot with steamed rice, embracing the explosion of textures and flavors that make Bopis a true Filipino treasure.</li>
      </ol>

  </div>
<%- include('../partials/footer') %>