<%- include('../partials/header') %>

<link rel="stylesheet" type="text/css" href="index.css">

  <div class="content">

    <center><img src="https://2.bp.blogspot.com/-C0soHMoFLa4/VwBFvPNtZ2I/AAAAAAAAEVo/jTIL3aWNQEESsuxBejiaImE859E4U3eEg/s1600/9784485_orig.jpg" class="header"></img><br></center>
      
    <p><h1><%=title%></h1></p>

        <p>Welcome! This webpage is dedicated to my three favorite Filipino dishes: Chicken Adobo, Bopis, and Bicol Express. Each dish holds a special place in my heart, and they're a testament to my home-country's rich history and diverse flavors.</p>
        <p>Beyond recipes that you'll see in each page, the site will unravel a little bit of the history, cultural significance, and culinary impact of these dishes. Join me in savoring the stories that make Filipino cuisine an artful blend of tradition and innovation. Together, let's celebrate the tastes that connect us to our roots and to each other.</p>    
  </div>
<%- include('../partials/footer') %>
